.row
  .col-md-12
    = form_tag '/sign_in', method: :post do
      .form-group
        = label_tag :email
        = email_field_tag :email, class: 'form-control', required: true
      .form-group
        = label_tag :password
        = password_field_tag :password, class: 'form-control', required: true
      .form-group
        = submit_tag 'Sign in', class: 'btn btn-primary'
.row
  .col-md-12
    = link_to "Don't have an account? Sign up here.", "/sign_up"
